
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  
}
body{
  font-family: 'Montserrat', sans-serif;
}

.first-container{
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.747),rgb(0, 0, 0)), url('images/1.jpg') ; 
 background-size:100% ;
  background-repeat:no-repeat;
}
.header{
  overflow: hidden;
  background-color:  rgba(0, 0, 0, 0.905);

  position:fixed;
  top:0;
  width:100%;
  
}




.header nav{
  display:flex;
  justify-content: space-evenly;
  padding:1rem;

  
  
}




.menu img{
  width:2rem;
  display:none;
}
.header nav a{

 
  text-decoration: none ;
    
}

.header a{
  font-family:'Inter', sans-serif;
  color: rgb(206, 204, 204);
  transition: color 0.5s ease linear;
  -o-transition: color 0.5s linear; /* opera */
  -ms-transition: color 0.5s linear; /* IE 10 */
  -moz-transition: color 0.5s linear; /* Firefox */
  -webkit-transition: color 0.5s linear; /*safari and chrome */

}

a:hover{
  color: rgb(255, 255, 255);
  
}

a:active{
  color: white;
}

.slog{
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 1.8rem;
  padding:5rem;
}

.logos{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom:20px;
  flex-wrap: wrap;
  
}
.logos img{
  width: 10%; 
  min-width: 80px;
  max-width:120px;
  margin:10px;
}

.project-container{
  margin:30px;
}
.project-container .row-1{
  display:flex;
  justify-content: space-around;
  padding:10px;
  flex-wrap: wrap;
}
.project-box{
  flex-basis:20%;
  min-width:550px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.349);
  padding:10px;
  margin:10px;
}
.project-box img{
  width:100%; 
}
.project-box h4{
  margin:10px; 
}
.links{
  margin:10px;
  float:right;
}
.links a{
  margin:10px;
}
.links a:hover{
  color:black;
}

@media only screen and (max-width:600px){
.menu img{
  display:block;
}
.nav ul{
  margin:5rem;
  background: white;
}

.logos img{
  display:none;
}
.logos{
  padding-bottom:0
}
}